build/\ninstall/\nlog/\nvenv/\n*.pt
# Ignore build artifacts
/build/
install/
log/

# Ignore Python virtual environments
venv/



# Ignore temporary files and logs
*.log
venv/
build/
install/
log/
*.pyc
__pycache__/

